* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* #region utilities */

.px_2 {
    padding-left: 1rem;
}

.my_3 {
    margin-top: 0.5rem;
}

.d_flex {
    display: flex;
}

.font_size {
    font-size: 8;
}

.container {
    width: 80%;
    max-width: 1170px;
    align-items: start;
    justify-content: space-between;
    margin: auto;
    padding: 1rem 0;
}

.p_absolute {
    position: absolute;
}

.p_relative {
    position: relative;

}

/* #endregion utilities */

header {
    background-color: #ff6900;
    box-shadow: 0 0 0.3rem black;
    position: sticky;
    top: 0;
    z-index: 101;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 1rem;
}

i {
    padding: 0 0.15rem;
}

img {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 0;
}

footer {
    background-color: #1a1a1a;
}

h4 {
    color: white;
}

/* #region Header */

.categories {
    text-align: start;
    width: 20%;
}

.logo {
    width: 60%;
    text-align: center;
}

.shop_icons {
    color: white;
    width: 20%;
    text-align: end;
}

/* #endregion Header */

/* #region Main */

.card {
    width: calc(100% / 3);
    position: relative;
}

.bot_left {
    left: 1rem;
    bottom: 3rem;
    z-index: 100;
}

.discount {
    background-color: red;
}

.sustain {
    background-color: green;
}

.sustain,
.discount {
    display: inline-block;
    padding: 0.2rem 0.8rem;
    color: white;
    font-size: small;
    font-weight: 1000;
}

.heart {
    background-color: white;
    top: 0.5rem;
    right: 0;
    font-size: xx-large;
    padding: 0 1rem;
    z-index: 100;
}

.brand {
    font-size: 10px;
}

.product {
    color: black;
}

.price {
    font-size: 12px;
}

.actual_prize {
    color: red;
    font-weight: 900;
}

.original_prize {
    text-decoration: line-through;
}

.product_info {
    margin-top: -2rem;
}

.img_1_b {
    display: none;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
}

.img_1:hover .img_1_b {
    display: inline-block;
}

.heart:hover {
    color: red;
}

/* #endregion Main */

/* #region Footer */

.foot_info a {
    font-size: 10px;
    padding: 0.2rem;
}

.foot_social {
    color: white;
}